<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

	<div th:fragment="home">
		<div class="card">
			<div class="card">
				<div class="card-header">
					<b class="" style="">(unserName)&nbsp; HOME</b><br>
				</div>
				<div class="card-body">
					<h4 contenteditable="true">make a statement:</h4>
					<form class="">
						<div class="form-group row">
							<div class="col-12 col-sm-9 col-md-10">
								<input type="text" class="form-control"
									placeholder="new statement">
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-sm">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
		</div>

	</div>




	<div th:fragment="gg">This is Content 2</div>

</body>
</html>