<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

	<div th:fragment="home">
		<!-- this is the home page here -->
		<div class="row h-100">
			<div class="col-7" id="Data">
				<!-- this is the text typing port -->
				<div class="card">
					<div class="card">
						<div class="card-header">
							<b class="" style="">&nbsp; HOME</b><br>
						</div>
						<div class="card-body">
							<form class="">
								<div class="form-group row">
									<div class="col-12 col-sm-9 col-md-10">
										<input type="text" class="form-control"
											placeholder="make a new statement">
									</div>
								</div>
								<button type="submit" class="btn btn-primary btn-sm">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col"></div>
				</div>
			</div>

			<div class="col-4" style="">
				<a class="btn btn-outline-primary" href="#" onclick="getModal()">add
					election</a>
					
				<div class="card bg-light rounded border-bottom col-12"
					th:each="election : ${elections}">
					<div class="card-header bg-light" th:text="${election.name}">electionForTheNextMbali</div>
					<div class="card-body bg-light">
						<i th:text="${election.description}"> </i>
						<p class="card-text">
							start date: <i th:text="${election.startDate}"></i> <br>end
							date: <i th:text="${election.endDate}"></i> <br>number of
							winners : <i th:text="${election.winnerCount}"></i>
						</p>
					</div>
					<a class="btn btn-outline-dark" href="#" th:onclick="'javascript:viewData('+${election.id}+')'">view election&nbsp;</a>
				</div>
			</div>
		</div>
	</div>




	<div th:fragment="election">
		<div class="row">
			<div id="Data" class="col-7">choose a election to view
				Data</div>
			<div class="col-4">
				<div class="col-11">
					<a class="btn btn-outline-primary" href="#" onclick="getModal()">add
						election</a>


					<div class="card bg-light rounded border-bottom col-12"
						th:each="election : ${elections}">
						<div class="card-header bg-light" th:text="${election.name}">electionForTheNextMbali</div>
						<div class="card-body bg-light">
							<i th:text="${election.description}"> </i>
							<p class="card-text">
								start date: <i th:text="${election.startDate}"></i> <br>end
								date: <i th:text="${election.endDate}"></i> <br>number of
								winners : <i th:text="${election.winnerCount}"></i><br>
								election ID : <i th:text="${election.id}"></i>
							</p>
						</div>
						<a class="btn btn-outline-dark" href="#" onclick="viewData()">view election&nbsp;</a>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div th:fragment="profile">
		<div class="mx-auto col-lg-6 col-10">
			<h1>Edit Profile</h1>

			<form class="text-left" method="post" action="/profileChange">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<div class="form-group">
					<label>description</label><input type="text" class="form-control"
						id="form16" th:field="*{user.description}"
						th:placeholder="${user.description}">
				</div>
				<div class="form-group">
					<label for="form16">firstName</label> <input type="text"
						class="form-control" id="form16"
						th:placeholder="${user.firstName}" th:field="*{user.firstName}">
				</div>
				<div class="form-group">
					<label for="form16">lastName</label> <input type="text"
						class="form-control" id="form16" th:placeholder="${user.lastName}"
						th:field="${user.lastName}">
				</div>
				<label for="form18">Your current roles: </label>
				<tr th:each="authorit : ${user.authorities}">
					<td th:text="${authorit.authority}">&nbsp;</td>
				</tr>
				<div class="form-group">

					<label for="form18" class="pr-5">New User Roles</label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="vote"
							value="true" th:checked="checked" disabled> <label
							class="form-check-label" for="inlineCheckbox1">Voter</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="candi"
							value="option2" th:field="*{ar.c}"> <label
							class="form-check-label" for="inlineCheckbox2">Candidate</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="admin"
							value="option3" th:field="${ar.a}"> <label
							class="form-check-label" for="inlineCheckbox3">Administrators</label>
					</div>
				</div>



				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="form19">New Password</label> <input type="password"
							class="form-control" id="password" th:field="*{user.password}">
					</div>
				</div>

				<button type="submit" name="update" value="Update"
					class="btn mr-5 btn-dark">update</button>
				<!-- 				<button type="submit" name = "nuke" value="Nuke"class="btn ml-5 btn-danger">nuke -->
				<!-- 					account</button> -->

			</form>

		</div>
	</div>


	<div th:fragment="help">This is help</div>


</body>
</html>