<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
  </head>
  <body>
    <p th:fragment="sources" th:remove="tag">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" style=""></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
    </p>
    
    <p th:fragment="header_untitled1" th:remove="tag">
    <head>
  	<title>Electas</title>
    <link rel="icon" href="pictures/electas.png">
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width,hight=device-hight, initial-scale=1,minimum-scale=1.0">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  	<link href="css/Untitled1.css" rel="stylesheet" type="text/css" id ="theme">
	</head>
    </p>
    
    
    <p th:fragment="header" th:remove="tag">
    <head>
    <title>Electas</title>
    <link rel="icon" href="pictures/electas.png">
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  	<link th:href="@{css/profileCss.css}" rel="stylesheet" type="text/css" th:id="${theme}">
	</head>
    </p>
    
    
   
  </body>
</html>