<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link href="css/Untitled1.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="row">
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 pl-5">
      <h1 class="display-1 text-center" style="">Electas</h1>
      <div class="col-md-12 mx-auto h-100 align-items-center" style="">
        <img class="img-fluid d-block w-25 mx-auto" src="../../Pictures/electas.png" style="">
        <h1 class="display-3 mb-4 text-center">Our Mission&nbsp;</h1>
        <p class="lead mb-5 text-center">make elections easier&nbsp;<br>make elections faster<br>make elections more fair</p>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-4 h-100">
      <div class="pi-wrapper pi-draggable">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabone">login</a> </li>
          <li class="nav-item"> <a class="nav-link active" href="" data-toggle="pill" data-target="#tabtwo">register</a> </li>
        </ul>
        <div class="tab-content mt-2">
          <div class="tab-pane fade" id="tabone" role="tabpanel">
            <div class="pi-draggable text-center py-4 h-100" style="">
              <div class="container">
                <div class="row p-0" style="">
                  <div class="col mx-auto">
                    <h1 class="mb-4">login</h1>
                    <form style="">
                      <div class="form-group"> <input type="email" class="form-control" placeholder="Email" id="form14"> </div>
                      <div class="form-group"> <input type="password" class="form-control" placeholder="Password" id="form15"> <small class="form-text text-muted text-right"></small> </div> <button type="submit" class="btn btn-primary mr-5">login</button><button type="submit" class="btn mr-0 ml-5 btn-light border border-primary rounded">fogot password</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade active show" id="tabtwo" role="tabpanel">
            <div class="pi-draggable text-center py-1">
              <div class="container">
                <div class="row">
                  <div class="mx-auto col-lg-12 col-12">
                    <h1>Register</h1>
                    <form class="text-left">
                      <div class="form-group"> <label for="form16">Your Name</label> <input type="text" class="form-control" id="form16" placeholder="Johann"> </div>
                      <div class="form-group"> <label for="form17">Your Surname</label> <input type="text" class="form-control" id="form17" placeholder="Werther"> </div>
                      <div class="form-group"> <label for="form17">your South African ID number</label> <input type="text" class="form-control" id="form17" placeholder="0303014323456"> </div>
                      <div class="form-group"> <label for="form18">Your email</label> <input type="email" class="form-control" id="form18" placeholder="j.goethe@werther.com"> </div>
                      <div class="form-row">
                        <div class="form-group col-md-6"> <label for="form19">Password</label> <input type="password" class="form-control" id="form19" placeholder="••••"> </div>
                        <div class="form-group col-md-6"> <label for="form20">Confirm Password</label> <input type="password" class="form-control" id="form20" placeholder="••••"> </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check"> <input class="form-check-input" type="checkbox" id="form21" value="on"> <label class="form-check-label" for="form21"> I Agree with <a href="#">Term and Conditions</a> of the service </label> </div>
                      </div> <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" style=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
</body>

</html>